*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: black;
    color: white;
}

.container{
    padding: 8px;
}


.left{
    width: 350px;
    /* height: 94vh; */
    /* padding: 8px; */
}

.right{
    width: 1200px;
    max-height: 100vh;
    overflow: scroll;
    position: relative;
}

.home{
    /* height: 20vh; */
    /* border: 2px solid red; */
    margin-bottom: 10px;
    padding: 20px;
}

.library{
    min-height: 76vh;
    position: relative;
    /* border: 2px solid red; */
}

.home ul li{
    display: flex;
    gap: 20px;
    list-style: none;
    /* width: 5px; */
    
}

.home ul li img{
    height: 30px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    width: 250px;
    font-size: 17px;
    font-weight: normal;
}

.heading img{
    width: 30px;
}

.footer{
    padding-left: 40px;
    padding-bottom: 20px;
    /* padding: 20px; */
    font-size: medium;
    color: grey;
    position: absolute;
    bottom: 5px;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.header{
    background-color: #313131;
    height: 70px;
}

.spotifyPlaylist{
    padding: 16px;
}

.spotifyPlaylist .card{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    margin: 20px 10px;
}

.card{
    position: relative;
}

.card > *{
    padding-top: 5px;
}

.card img{
    padding-top: 5px;
    width: 100%;
    object-fit: contain;
}

.cardContainer{
    display: flex; 
    gap: 10px;   
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 65vh;
}


.signupbtn{
    background-color: #313131;
    color: grey;
    font-weight: bold;
    /* padding: 10px; */
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover{
    font-size: 0.9rem;
    color: white;
}

.btn *{
    margin: 0 12px;
}

.loginbtn{
    background-color: white;
    color: grey;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 70px;
    /* padding-left: 20px; */
}

.loginbtn:hover{
    font-size: 0.9rem;
    color: black;
    width: 72px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbar{
    position: absolute;
    bottom: 0px;
    background-color: greenyellow;
    width: 100%;
    padding: 15px;
}

.size{
    width: 110px;
}