* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
}

.container {
    padding: 8px;
}


.left {
    width: 25vw;
    /* border-radius: 15px; */
    /* height: 94vh; */
    /* padding: 8px; */
}

.right {
    width: 75vw;
    max-height: 100vh;
    /* overflow: scroll; */
    position: relative;
}

.home {
    /* height: 20vh; */
    /* border: 2px solid red; */
    margin-bottom: 10px;
    padding: 20px;
}

.library {
    min-height: 73vh;
    position: relative;
    /* border: 2px solid red; */
}

.home ul li {
    display: flex;
    gap: 20px;
    list-style: none;
    /* width: 5px; */

}

.home ul li img {
    height: 5vh;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    width: 250px;
    font-size: 17px;
    font-weight: normal;
}

.heading img {
    width: 30px;
}

.footer {
    padding-left: 90px;
    padding-bottom: 20px;
    /* padding: 20px; */
    font-size: medium;
    color: grey;
    position: absolute;
    bottom: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.hamburger {
    display: none;
}

.header {
    background-color: #313131;
    height: 70px;
}

.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist .card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    margin: 20px 10px;
}

.card {
    position: relative;
}

.card>* {
    padding-top: 5px;
}

.card img {
    padding-top: 5px;
    width: 100%;
    object-fit: contain;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh;
}


.signupbtn {
    background-color: #313131;
    color: grey;
    font-size: 16px;
    font-weight: bold;
    /* padding: 10px; */
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 18px;
    color: white;
}

.btn * {
    margin: 0 12px;
}

.loginbtn {
    background-color: white;
    color: grey;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 70px;
    /* padding-left: 20px; */
}

.loginbtn:hover {
    font-size: 18px;
    color: black;
    width: 72px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songinfo{
    width: 250px;
}

.playbar {
    position: fixed;
    bottom: 40px;
    background-color: #313131;
    width: 68vw;
    padding: 15px;
    border-radius: 15px;
    height: 50px;
}

.size {
    width: 110px;
}

.info div{
    word-break: break-all;
}

.songlist {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 60vh;
}

.songlist ul {
    padding: 10px 10px;
    list-style-type: decimal;

}

.songlist ul li {
    display: flex;
    gap: 20px;
    padding: 12px 5px;
    margin: 12px 0px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.info {
    padding-right: 150px;
}

.seekbar {
    height: 5px;
    background-color: aliceblue;
    margin-bottom: 25px;
    border-radius: 10px;
    cursor: pointer;
    /* width: 68vw; */
    /* position: relative; */
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: #c2b2b2;
    position: absolute;
    top: 12px;
    left: 1%;
    transition: left 0.5s;
    cursor: pointer;
}

.oneline {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

.close {
    display: none;
}

.volume{
    cursor: pointer;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 10px;
}
#rang{
    cursor: pointer;
}


@media (max-width: 1300px) {
    .left {
        /* background-color: black; */
        position: absolute;
        left: -120%;
        transition: all 1s;
        z-index: 1;
        width: 373px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: 83vw;
    }

    .hamburger {
        display: block;
    }

    .arrow {
        display: none;
    }

    .close {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .cardContainer {
        justify-content: center;
        margin: 0;
    }

}